<% include ../partials/header %>

<div class="row">
	<div class="col-md-8">
	  <h3><span>Profile Name:</span><%= user.firstName %></h3>
	    <div class="descriptions">
		 <%= user.descriptions %>
		</div>
		</div>
	     <div class="col-md-4">
			
		<div class="thumbnail">
			<img class="img-circle img-responsive" src="<%= user.image %>" alt="user profile image">
		</div>
		<ul class="list-group">
            <li class="list-group-item"><p>EMAIL ID: <a href="mailto:<%= user.email %>"><%= user.email %></a></p></li>
            </ul>
            </div>
         
		
	</div>
	<div class="row">
		<div class="col-12">
		<h3 id="profile"><%= user.username %>'s campgrounds:</h3>
		</div>
		<div class="col-md-4 col-sm-6">
		<% campgrounds.forEach(function(campground) { %>
	
        <div class="thumbnail">
        	 <div class="thumbnail">
            <div class="image-thumb" style="background-image: url(<%= campground.image %>)"></div>
           
           <div class="caption">
             <h4><%= campground.name %></h4>
             </div>
             <p>
               <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">more info</a>  
             </p>
             
           
          
        </div>
      </div>
			<!--<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>-->
		<% }); %>
		</ul>
	</div>
</div>

<% include ../partials/footer %>